@charset "utf-8";
.clearfix{*zoom:1;}
.clearfix:after{
	display:block;
	clear:both;
	content:'';
}
#wrap{overflow: hidden;min-width: 1200px;width: 1600px;margin: 0 auto;}

header{background: #828282;line-height: 1;}
header nav{position: relative;width: 1100px;margin: 0 auto;padding-top: 20px;padding-bottom: 20px;}
header nav h1{position: absolute;right: 0;top: 23px;width: 101px;height: 114px;background-image: url(../images/logo02.png);background-repeat: no-repeat;text-indent: -9999px;z-index: 1;}
header nav .gnb li a{font-size: 15px;}
header nav li{float: left;margin-right: 10px;}
header nav li a{color: #fff !important;font-size: 17px;line-height: 2;font-weight: 800;}
header nav li a:hover{color: #1B69D6 !important;}

/* image-slide-banner */
div.image-slide-banner {width: 100%; height: 600px;position: relative;}
div.image-slide-banner > div.box {width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden;}
div.image-slide-banner ul.slide {width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
div.image-slide-banner ul.slide li {width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: none;}
div.image-slide-banner ul.slide li:first-child {display: block;}
div.image-slide-banner ul.slide li.on {animation: slide-on 3s ease 0s 1 normal forwards;}
div.image-slide-banner ul.slide li.off {animation: slide-off 3s ease 0s 1 normal forwards;}
div.image-slide-banner ul.slide li p {display: block;width: 100%;overflow: hidden;margin: 0 auto;}
div.image-slide-banner ul.slide li>p>img{}
div.image-slide-banner ul.indicator {position: absolute; left: 50%; bottom: 2%;width: 100%;margin: 0 auto;margin-left: -49.8%;}
div.image-slide-banner ul.indicator li {display: inline-block;width: 25%;margin-right: -5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
div.image-slide-banner ul.indicator li a {display: block;text-indent: -9999px;}
div.image-slide-banner ul.indicator li.on a {border-color: #1B69D6; background: #1B69D6;height: 4px;}
div.image-slide-banner p.control a.prev {position: absolute; top: 50%; margin-top: -40px;}
div.image-slide-banner p.control a.next {position: absolute; top: 50%; margin-top: -40px;right: 0;}

.box-txt{position: absolute;top: 50px;left: 210px;}
.box-txt>.more{display: block;width: 264px;margin-top: 32px;line-height: 40px;color: #fff;background: #1c69d4;text-align: center;font-weight: 700;}
.box-txt>.more2{display: block;width: 264px;margin-top: 10px;line-height: 40px;color: #fff;background: #4d4d4d;text-align: center;font-weight: 700;}
.img1{top: 430px;width: 1200px;}
.img1>a{display: inline-block;margin-left: 100px;}

section>h2{text-align:center;font-size:25px;color:black;font-weight:800;margin-top: 100px;}
section>.container{width:100%;height:570px;}
section>.container>nav>ul{width:1104px;height:210px;margin:0 auto;}
section>.container>nav>ul>li{float:left;margin-top:30px;width:366px;height:178px;border:1px solid #e6e6e6;}


section>.container>nav>ul>li:nth-child(1){background-image:url(../images/financial_ico01.png);background-repeat:no-repeat;
background-position:240px 50px;line-height:1.4;}
section>.container>nav>ul>li:nth-child(1) a{display:block;margin-top:55px;margin-left:20px;font-size:14px;}
section>.container>nav>ul>li:nth-child(1)>a>span{display:block;line-height:10px;font-size:17px;font-weight:800;}

section>.container>nav>ul>li:nth-child(2){background-image:url(../images/financial_ico02.png);background-repeat:no-repeat;
background-position:240px 50px;line-height:1.4;}
section>.container>nav>ul>li:nth-child(2) a{display:block;margin-top:55px;margin-left:30px;font-size:14px;}
section>.container>nav>ul>li:nth-child(2)>a>span{display:block;line-height:10px;font-size:17px;font-weight:800;}

section>.container>nav>ul>li:nth-child(3){background-image:url(../images/financial_ico03.png);background-repeat:no-repeat;
background-position:240px 50px;line-height:1.4;}
section>.container>nav>ul>li:nth-child(3) a{display:block;margin-top:55px;margin-left:30px;font-size:14px;}
section>.container>nav>ul>li:nth-child(3)>a>span{display:block;line-height:10px;font-size:17px;font-weight:800;}

section .container article{position:relative;width:1600px;margin:0 auto;background-color:#fff;}
section .container article>.box{display:none;position:absolute;width:100%;height:358px;font-size:18px;}

section .container article #mnu_1{background-color:#E6E6E6;background-image:url(../images/financial_cont_img01.jpg);background-repeat:no-repeat;background-position:649px 0;}
section .container article #mnu_1 p{margin-top:100px;margin-left:280px;line-height:1.6;}
section .container article #mnu_1 img{position:absolute;left:455px;}
section .container article #mnu_1 p>span{color:blue;}
section .container article #mnu_1 p>a{color:gray;line-height:2.8;font-size:15px;font-weight:800;}

section .container article #mnu_2{background-color:#E6E6E6;background-image:url(../images/financial_cont_img02.jpg);background-repeat:no-repeat;background-position:649px 0;}
section .container article #mnu_2 p{margin-top:100px;margin-left:280px;line-height:1.6;}
section .container article #mnu_2 p>span{color:blue;}
section .container article #mnu_2 p>a{color:gray;line-height:2.8;font-size:15px;font-weight:800;}

section .container article #mnu_3{background-color:#E6E6E6;background-image:url(../images/financial_cont_img03.jpg);background-repeat:no-repeat;background-position:649px 0;}
section .container article #mnu_3 p{margin-top:100px;margin-left:280px;line-height:1.6;}
section .container article #mnu_3 p>span{color:blue;}
section .container article #mnu_3 p>a{color:gray;line-height:2.8;font-size:15px;font-weight:800;}

section article .box:target{display:block;} 
section .container article #mnu_1{display:block;}

section .content2{position:relative;background-image:url(../images/my_product_bg.jpg);width:1600px;height:353px;margin:0 auto;}
section .content2 .contentbox{width:1100px;height:211px;background-color:white;position:absolute;top:71px;left:250px;}
section .content2 .contentbox>h3,ol{float:left;}
section .content2 .contentbox>h3{position:absolute;top:40px;left:50px;font-size:20px;line-height:1.4;color:black;}
section .content2 .contentbox ol>li:nth-child(1){position:absolute;top:40px;left:200px;line-height:1.4;}
section .content2 .contentbox ol>li:nth-child(2){position:absolute;top:40px;left:400px;line-height:1.4;}
section .content2 .contentbox ol>li:nth-child(3){position:absolute;top:40px;left:600px;line-height:1.4;}
section .content2 .contentbox>p{position:absolute;top:40px;left:800px;}
section .content2 .contentbox>p.event{float:left;width:130px;height:136px;margin-top:5px;margin-left:150px;border-left:1px solid #e6e6e6;text-align:center;line-height:10;font-weight:800;}
section .content2 ol li.program{float:left;margin-left:60px;}
section .content2 ol li.program p{float:left;}
section .content2 ol li.program p.num{width:23px;height:23px;background-color:#8E8E8E;text-align:center;color:white;line-height:23px;font-weight:800;}
section .content2 ol li.program p.choice{margin-left:10px;font-size:14px;line-height:1.8;margin-top:-6px}
section .content2 ol li.program ul{margin-left:25px;color:black;font-weight:600;line-height:2.4;}

section .article2{width:1100px;height:492px;margin:0 auto;}
section .article2 ul{float:left;width:544px;height:332px;border:1px solid #e6e6e6;margin:0 auto;margin-top:100px;}
section .article2 ul.child_1{margin-right:8px;}
section .article2 ul.child_1 li a{color: #000;}
section .article2 ul.child_1 li:nth-child(1) a{display:block;width:506px;height:193px;margin:0 auto;background-image:url(../images/banner_link_img01.jpg);margin-top:17px;text-indent: -9999px;}
section .article2 ul.child_1 li:nth-child(2){margin-left:17px;margin-top:20px;font-size:16px;font-weight:800;color:black;}
section .article2 ul.child_1 li:nth-child(3){margin-left:17px;margin-top:10px;color:black;}
section .article2 ul.child_1 li:nth-child(4){margin-left:17px;margin-top:10px;}

section .article2 ul.child_2 li a{color: #000;}
section .article2 ul.child_2 li:nth-child(1) a{display:block;width:506px;height:193px;margin:0 auto;background-image:url(../images/banner_link_img02.jpg);background-repeat:no-repeat;margin-top:17px;text-indent: -9999px;}
section .article2 ul.child_2 li:nth-child(2){margin-left:18px;margin-top:20px;font-size:16px;font-weight:800;color:black;}
section .article2 ul.child_2 li:nth-child(3){margin-left:18px;margin-top:10px;color:black;}
section .article2 ul.child_2 li:nth-child(4){margin-left:17px;margin-top:10px;}

div.image-slide-banner-2 {width: 1100px; height: 151px;position: relative;margin: 0 auto;margin-bottom: 100px;}
div.image-slide-banner-2 > div.box {width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden;}
div.image-slide-banner-2 ul.slide {width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
div.image-slide-banner-2 ul.slide li {width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: none;}
div.image-slide-banner-2 ul.slide li:first-child {display: block;}
div.image-slide-banner-2 ul.slide li.on {animation: slide-on 3s ease 0s 1 normal forwards;}
div.image-slide-banner-2 ul.slide li.off {animation: slide-off 3s ease 0s 1 normal forwards;}
div.image-slide-banner-2 ul.slide li p {display: block;}
div.image-slide-banner-2 ul.slide li>p>img{width: 100%;}
div.image-slide-banner-2 ul.indicator {position: absolute; left: 50%; bottom: -8%;width: 1100px;margin: 0 auto;margin-left: -49.8%;}
div.image-slide-banner-2 ul.indicator li {display: inline-block;width: 50%;margin-right: -5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
div.image-slide-banner-2 ul.indicator li a {display: block;text-indent: -9999px;}
div.image-slide-banner-2 ul.indicator li.on a {border-color: #1B69D6; background: #1B69D6;height: 4px;}

section .last{position:relative;width:1100px;height:268px;margin:0 auto;}
section .last ul{float:left;}
section .last p{float:left;width:240px;text-align:center;border-left:1px solid #e6e6e6;}
section .last ul>li{float:left;width:275px;color: #000;font-weight: bold;}
section .last ul>li:nth-child(1) span.image{display:inline-block;background-image:url(../images/link_area_ico.gif);background-repeat:no-repeat;width:54px;height:54px;position:absolute;left:210px;text-indent: -9999px;}
section .last ul>li:nth-child(1) span.text{display:block;font-size:15px;}
section .last ul>li:nth-child(1) span.text1{display:block;font-size:18px;margin-bottom:12px;}

section .last ul>li:nth-child(2){border-left:1px solid #e6e6e6;}
section .last ul>li:nth-child(2) span.image{display:block;background-image:url(../images/link_area_ico.gif);background-repeat:no-repeat;width:54px;height:54px;position:absolute;left:490px;background-position:-55px 0;text-indent: -9999px;}
section .last ul>li:nth-child(2) span.text2{display:block;font-size:18px;margin-bottom:12px;margin-left:10px;}
section .last ul>li:nth-child(2) span.text{display:block;font-size:15px;margin-left:10px;}


section .last ul>li:nth-child(3){margin-right:25px;border-left:1px solid #e6e6e6;}
section .last ul>li:nth-child(3) span.image{display:block;background-image:url(../images/link_area_ico.gif);background-repeat:no-repeat;width:54px;height:54px;position:absolute;left:760px;background-position:-110px 0;text-indent: -9999px;}
section .last ul>li:nth-child(3) span.text3{display:block;font-size:18px;margin-bottom:12px;margin-left:10px;}
section .last ul>li:nth-child(3) span.text{display:block;font-size:15px;margin-left:10px;}

section .last p span.cos{font-size:18px;color:black;font-weight:600;
margin-left:10px;}
section .last p span.time{font-size:15px;margin-left:10px;}
section .last p span.num{display:block;font-size:37px;line-height:1.4;color:black;font-weight:800;margin-left:10px;}

footer{width:100%;background-color:#8E8E8E;}
footer .deliberation ul{width:1100px;margin:0 auto;color:white;line-height:1.6;padding-top:50px;}

footer .deliberation ul li{font-size:14px;}
footer .deliberation ul li:nth-child(1){float:left}
footer .deliberation ul li:nth-child(2){float:left}

footer .deliberation ul li:nth-child(4){float:left}
footer .deliberation ul li:nth-child(5){float:left}

footer .deliberation ul li:nth-child(7){float:left}
footer .deliberation ul li:nth-child(8){float:left}

footer .deliberation ul li:nth-child(10){float:left}
footer .deliberation ul li:nth-child(11){float:left}
footer .deliberation ul li:nth-child(12){float:left}

footer .link_zone{width:1100px;height:96px;margin:0 auto;background-image:url(../images/footer_logo.png);background-repeat:no-repeat;background-position:0 40px;border-bottom:1px solid #e6e6e6;}
footer .link_zone ul{margin-left:310px;}
footer .link_zone ul li{float:left;color:white;line-height:96px;margin-right:29px;font-size:15px;}
footer .link_zone ul li:first-child{font-weight:800;}
footer .link_zone ul li:last-child{margin-right:0;}

footer address{width:1100px;margin:0 auto;}
footer address ul{position:relative;margin-top:20px;padding-bottom:20px;}
footer address ul li{font-size:14px;line-height:1.8;color:white;}
footer address ul li:nth-child(1){float:left}
footer address ul li:nth-child(2){float:left}

footer address ul li:nth-child(4){float:left}
footer address ul li:nth-child(5){float:left}

footer address ul li:nth-child(6){color:white;font-size:14px;position:absolute;right:0;top:0;font-weight:800;}













