/* 
 * Nanum Gothic (Korean) http://hangeul.naver.com
 */

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NanumGothic/NanumGothic.woff2) format('woff2'),
         url(../font/NanumGothic/NanumGothic.woff) format('woff'),
         url(../font/NanumGothic/NanumGothic.otf) format('opentype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(../font/NanumGothic/NanumGothicBold.woff2) format('woff2'),
         url(../font/NanumGothic/NanumGothicBold.woff) format('woff'),
         url(../font/NanumGothic/NanumGothicBold.otf) format('opentype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(../font/NanumGothic/NanumGothicExtraBold.woff2) format('woff2'),
         url(../font/NanumGothic/NanumGothicExtraBold.woff) format('woff'),
         url(../font/NanumGothic/NanumGothicExtraBold.otf) format('opentype');
}