@charset "utf-8";
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:''}
.sr-only{position:absolute;left:-9999px;}

#wrap{width: 100%;overflow: hidden;}

/*header*/
header{position: fixed;top: 0;left: 0;width: 100%;height: 100px;z-index: 1000;transition: all 0.5s;}
header nav{position: relative;width: 1200px;height: 100px;margin: 0 auto}
header nav h1{position: absolute;top: 50%;margin-top: -13px;width: 183px;height: 26px;background: url(../images/logo.png) no-repeat;text-indent: -9999px;transition: all 0.5s;}
header nav>ul{width: 600px;margin:0 auto;}
header>nav>ul>li{float: left;text-align: center;margin-top: 25px;transition: all 0.5s;}
header>nav>ul>li>a{display: inline-block;padding: 18px 27px;opacity: .8;letter-spacing: 1.2px;font-weight: bold;transition: all 0.5s;}
header>nav>ul>li>ul{position: relative;padding: 10px 0;background-color: rgba(0,0,0,.8);border: 1px solid #303030;display: none;}
header>nav>ul>li>ul>li{font-size: 14px;line-height: 1.8;}
header>nav>ul>li>ul>li:before{content: "";position: absolute;left: 0;bottom: 100%;height: 4px;width: 100%;background-color: #6700ff;border-left: 1px solid #6700ff;border-right: 1px solid #6700ff;margin-left: -1px;}

header.black{height: 80px;background:black}
header.black nav h1{top: 40%;}
header.black>nav>ul>li{margin-top: 15px;} 
header>nav>ul>li>a.on, 
header>nav>ul>li>ul>li>a:hover{color: #fff;}



/*content1*/
#content1{position: fixed;top: 0;left: 0;width: 100%;height: 100px;z-index: 0;}
#content1 .bgcfixed{position: relative;}
#content1 .container{position: absolute;top: 50%;left:50%;margin-top: -110px;margin-left: -600px;z-index: 1;}
#content1 .container p.tit{font-size: 48px;font-weight: 600;color: #fff;line-height: 1.5;}
#content1 .container p.a1{animation: show-up 1s ease 0.3s 1 forwards;opacity: 0;}
#content1 .container p.toward{font-size: 48px;font-weight: 400;line-height: 1.5;animation: show-up 1s ease 0.4s 1 forwards;opacity: 0;}
#content1 .container p.a2{animation: show-up 1s ease 0.5s 1 forwards;opacity: 0;}
#content1 .container p.solution{font-size: 16px;line-height: 1.7;margin-bottom: 40px;margin-top: 30px;color: #fff;animation: show-up 1s ease 0.6s 1 forwards;opacity: 0;}
#content1 .container a{display: inline-block;border: 1px solid hsla(0,0%,100%,.2);line-height: 44px;font-size: 15px;padding: 0 20px;animation: show-up 1s ease 0.7s 1 forwards;transition: background .6s;color: #fff;cursor: pointer !important;opacity: 0;}
#content1 .bgcfixed .container a:hover{background:#6700ff !important;}
#content1 .container a i{margin-left: 10px;font-size: 15px;}
/*content2*/

#content2{position: relative;z-index: 2;}
#content2 .photo{margin-top: 55%;}
#content2 .photo ul{width: 100%;}
#content2 .photo ul>li{float: left;width: 25%;overflow: hidden;cursor: pointer;}
#content2 .photo ul>li .boximg{height: 320px;background-repeat: no-repeat;transition: transform .4s;}
#content2 .photo ul>li:hover .boximg{transform:scale(1.15,1.15);}
#content2 .photo ul>li:nth-child(1)>.boximg{background-image: url(../images/thum_01.jpg);}
#content2 .photo ul>li:nth-child(2)>.boximg{background-image: url(../images/thum_02.jpg);}
#content2 .photo ul>li:nth-child(3)>.boximg{background-image: url(../images/thum_03.jpg);}
#content2 .photo ul>li:nth-child(4)>.boximg{background-image: url(../images/thum_04.jpg);}
#content2 .photo ul li a{display: block;text-align: center;font-size: 22px;font-weight: 200;margin-bottom: 10px;letter-spacing: 1.2px;color: #fff;font-weight: 200;padding-top: 100px;}
#content2 .photo ul li p{text-align: center;font-size: 16px;line-height: 1.75;color: #fff;font-weight: 600;}

/*content3*/
#content3{position: relative;background-color: #181718;z-index: 3;}
#content3 .txt-container{position: relative;top: 150px;width: 1200px;margin: 0 auto;text-align: center;line-height: 1.75;z-index: 10;}
#content3 .txt-container h2{font-size: 22px;font-weight: 200;letter-spacing: 1.2px;color: #fff;opacity: 0;}
#content3 .txt-container .name{font-size: 56px;padding: 10px 0 20px;font-weight: 700;color: #fff;opacity: 0;}
#content3 .txt-container .sub{font-size: 22px;font-weight: 700;margin-bottom: 32px;color: #fff;opacity: 0;}
#content3 .txt-container .article{font-size: 16px;line-height: 1.75;color: #fff;opacity: 0;}
#content3 video{position: absolute;top: 0;z-index: 0;}

#content3.ani .txt-container h2{animation: show-up 1s ease 0.3s 1 forwards;}
#content3.ani .txt-container .name{animation: show-up 1s ease 0.4s 1 forwards;}
#content3.ani .txt-container .sub{animation: show-up 1s ease 0.5s 1 forwards;}
#content3.ani .txt-container .article{animation: show-up 1s ease 0.6s 1 forwards;}

/*content4*/
#content4{position: relative;margin-top: 22%;background-color: #181718;padding-bottom: 100px;z-index: 4;}
#content4 ol{max-width: 2000px;margin: auto;}
#content4 ol>li{position: relative;}
#content4 ol>li .area-flex{width: 1200px;margin: 0 auto;padding: 80px 0;margin-bottom: 150px;}
#content4 ol>li .side_area{position: relative;z-index: 11;width: 330px;height: 420px;padding: 0 50px 120px;background-color: #000;text-align: left;border-top: 1px solid #000;color: #fff;margin-top: 150px;transition: all 1s;opacity: 0;}
#content4 ol>li .side_area .num{color: #d1d0d1;font-size: 120px;font-weight: 600;opacity: .7;line-height: 1.8;margin-top: -110px;}
#content4 ol>li h4{font-size: 48px;font-weight: 600;margin: 2px 0 16px;line-height: 1.2;}
#content4 ol>li .content{font-size: 14px;line-height: 1.8;font-weight: 600;}
#content4 ol>li .side_area>.sub{font-size: 16px;font-weight: 500;line-height: 1.8;overflow: hidden;}
#content4 ol>li button i{font-size: 18px;margin-left: 15px;transition: all .6s;}
#content4 ol>li button{line-height: 54px;padding: 0 24px;font-size: 14px;background-color: #000;color: #fff;    border: 1px solid #6700ff;margin-top: 38px;letter-spacing: 1.2px;transition: all .6s;cursor: pointer;}
#content4 ol>li .img{position: absolute;left: 0;top: 0;height: 100%;width: 100%;z-index: 10;background-repeat: no-repeat;text-indent: -9999px;}
#content4 ol>li button:hover{background: #6700ff;}
#content4 ol>li button:hover i{margin-left: 20px;}
#content4 ol>li .img.right{background-position: 100%;}
#content4 ol>li .img.left{background-position: 0;}
.fl-r{float: right;}
#content4 ol>li:nth-child(1)>.img{background-image: url(../images/img_main_solution1.jpg);background-position: 600%;transition: all 1s;opacity: 0;}
#content4 ol>li:nth-child(2)>.img{background-image: url(../images/img_main_solution2.jpg);background-position: -500%;transition: all 1s;opacity: 0;}
#content4 ol>li:nth-child(3)>.img{background-image: url(../images/img_main_solution3.jpg);background-position: 600%;transition: all 1s;opacity: 0;}
#content4 ol>li:nth-child(4)>.img{background-image: url(../images/img_main_solution4.jpg);background-position: -500%;transition: all 1s;opacity: 0;}

#content4 ol>li.slide:nth-child(1)>.img{background-position: 100%;opacity: 1;} 
#content4 ol>li.slide:nth-child(1) .side_area{opacity: 1;margin-top: 100px;}
#content4 ol>li.slide:nth-child(2)>.img{background-position: 0;opacity: 1;} 
#content4 ol>li.slide:nth-child(2) .side_area{opacity: 1;margin-top: 100px;}
#content4 ol>li.slide:nth-child(3)>.img{background-position: 100%;opacity: 1;} 
#content4 ol>li.slide:nth-child(3) .side_area{opacity: 1;margin-top: 100px;}
#content4 ol>li.slide:nth-child(4)>.img{background-position: 0;opacity: 1;} 
#content4 ol>li.slide:nth-child(4) .side_area{opacity: 1;margin-top: 100px;}


/*content5*/
#content5{position: relative;background-color: #fff;}
#content5 .new-container{position: relative;padding: 146px 0 200px;}
#content5 .new-container h2{text-align: center;font-size: 40px;margin-bottom: 6px;line-height: 1.6;color: #000;}
#content5 .new-container>p{text-align: center;font-size: 16px;margin-bottom: 40px;color: #646465;}
#content5 .new-container ul{width: 1200px;margin: 0 auto;}
#content5 .new-container ul li{display: inline-block;margin-right: 49px;overflow: hidden;}
#content5 .new-container ul li:nth-child(4){margin-right: 0;}
#content5 .new-container ul li a{display: inline-block;width: 260px;height: 170px;background-repeat: no-repeat;background-position: 50%;background-size: 140%;transition: background .6s;}
#content5 .new-container ul li a:hover{background-size: 160%;}
#content5 .new-container ul li:nth-child(1) a{background-image: url(../images/1536211140253_20180824_fab4f18da54a7c6e25e8.jpg);}
#content5 .new-container ul li:nth-child(2) a{background-image: url(../images/1536209425863_20180824_71e688fbaa3622db6d69.png);}
#content5 .new-container ul li:nth-child(3) a{background-image: url(../images/1536208996133_20180822_96e6d16369c70bbf5e68.jpg)}
#content5 .new-container ul li:nth-child(4) a{background-image: url(../images/1536209373791_20180816_4972334a9f7000eccae2.jpg);}
#content5 .new-container ul li a>.txte{margin-top: 190px;line-height: 1.7;font-size: 15px;}
#content5 .new-container ul li a>.date{position: relative;color: #999;text-transform: uppercase;margin-top: 12px;padding-top: 12px;font-weight: 300;}
#content5 .new-container ul li a>.date:before{content: "";position: absolute;top: 0;left: 0;width: 12px;height: 1px;background-color: #ccc;}
#content5 .new-container .more{position: absolute;bottom: 13%;left: 50%;margin-left: -91px;display: inline-block;line-height: 54px;padding: 0 24px;padding-right: 80px;font-size: 14px;border: 1px solid #6700ff;font-size: 16px;font-weight: bold;transition: background .6s;}
#content5 .new-container .more:hover{background: #6700ff;color: #fff;}
#content5 .new-container .more:hover i{right: 15%;}
#content5 .new-container .more i{position: absolute;top: 32%;right: 20%;font-size: 20px;transition: all .6s}

/*content6*/
#content6{position: relative;}
#content6 .talented-person{background-image: url(../images/bitmap.jpg);background-repeat: no-repeat;text-align: center;padding: 128px 0 142px;background-size: cover;background-position: 50%;}
#content6 .talented-person h3{font-size: 20px;}
#content6 .talented-person .want{font-size: 40px;font-weight: 200;line-height: 2;}
#content6 .talented-person>.sub{font-size: 16px;line-height: 1.7;color: #646465;}
#content6 .talented-person>.num{color: #3a3a3c;font-size: 210px;font-weight: 900;line-height: 1;margin: 18px 0 36px;}
#content6 .talented-person button{position: relative;line-height: 54px;padding: 0 24px;padding-right: 80px;font-size: 14px;background-color: none;border: 1px solid #6700ff;background-color:rgba(0,0,0,0);transition: background .6s;}
#content6 .talented-person button:hover{background: #6700ff;color: #fff;}
#content6 .talented-person button:hover i{right: 15%;}
#content6 .talented-person button i{position: absolute;top: 32%;right: 20%;font-size: 18px;transition: all .6s}

/*content7*/
#content7{position: relative;background-image: url(../images/img_main_contact.png);background-repeat: no-repeat;padding: 120px 0;background-color: #1d1e25;line-height: 60px;background-attachment: fixed;background-size: cover;background-position: 50%;z-index: 100;}
#content7 .company{width: 1200px;margin: 0 auto;}
#content7 .company h3{float: left;font-size: 22px;font-weight: 300;color: #fff;}
#content7 .company h3 span{font-weight: 400;text-decoration: underline}
#content7 .company a{display: block;float: right;border: 1px solid hsla(0,0%,100%,.2);width: 280px;font-weight: 400;font-size: 15px;text-align: center;transition: background-color .5s;box-sizing: border-box;height: 60px;padding: 0;color: #fff;transition: background .6s;}
#content7 .company a:hover{background: #6700ff;}
#content7 .v{position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: -1;background-position: 30%;background-image: url(../images/img_main_contact_v_cut.png);background-repeat: no-repeat;}

/*footer*/
footer{position: relative;background-color: #fff;border-top: 1px solid #d1d0d1;padding: 86px 0 188px;font-size: 15px;}
footer .footer-container{width: 1200px;margin: 0 auto;}
footer h2{float: left;background-image: url(../images/download.png);background-repeat: no-repeat;width:200px ;height: 26px;text-indent: -9999px;}
footer address{position: relative;float: left;width: calc(100% - 290px);}
footer address .qna{margin-left: 100px;}
footer address ul li{}
footer address ul li dl{}
footer address ul li dl dt{float: left;width: 80px;font-weight: 700;margin-bottom: 10px;}
footer address ul li dl dd{float: left;width: 520px;margin-bottom: 10px;}
footer address .sns{margin-left: 100px;margin-top: 50px;}
footer address .sns li{float: left;width: 32px;height: 32px;margin-right: 15px;}
footer address .sns li a{display: block;text-indent: -9999px;}
footer address .sns li:nth-child(1){background-image: url(../images/facebook.png);}
footer address .sns li:nth-child(2){background-image: url(../images/blog.png);}
footer address .sns li:nth-child(3){background-image: url(../images/youtube.png);}
footer p{position: absolute;right: -100px;top: 0;color: #b2b2b2;}
footer .lang{position: absolute;bottom: 0;right: -100px;}
footer .lang li{position: relative;display: inline-block;font-size: 15px;color: #b2b2b2;margin-right: 10px;padding-right: 10px;}
footer .lang li:nth-child(2){margin-right: 0;padding-right: 0;}
footer .lang li:nth-child(1):after{content: "";position: absolute;top: 1px;right: -4px;width: 3px;height: 12px;background: #b2b2b2;}
.topScroll{position: absolute;top: 0;right: 0;width: 50px;height: 50px;line-height: 60px;font-size: 13px;text-align: center;color: #fff;cursor: pointer;background-color: #6700ff;margin-top: -111px;z-index: 100;}
.topScroll i{position: absolute;left: 50%;margin-left: -6px;margin-top: 5px;}

@keyframes show-up {
    0% {transform: translate(0, 100px); opacity: 0;}
    100% {transform: translate(0, 0); opacity: 1;}
}









