@charset "utf-8";
/* CSS Document */

.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:''}
h2>i{margin-right: 10px;}
.fa-angle-down{transition: all 0.3s;}
.required{color: red;}

#wrap{overflow: hidden;}

header{position: fixed;left: 0;top: 0;width: 100%;height: 50px;box-sizing: border-box;color: #ffffff;background: linear-gradient(154deg, #FF4155 0, #00b29c 100%);z-index: 10;}
header .container{position: relative;height: 50px;box-sizing: border-box}
header .container h1{position: absolute;background-color: #fff;height: 50px;width: 200px;text-align: center;line-height: 50px;border: 1px solid #fff;box-sizing: border-box;font-size: 20px;}
header .container h1 i{color: red;font-size: 30px;vertical-align: middle;margin-right: 4%;}
header .container .box{border-bottom: 1px solid #dedede;box-sizing: border-box;height: 50px;}
header .container .box h2{position: absolute;left: 220px;top: 50%;margin-top: -9px;}
header .container .box ul{position: absolute;right: 1%;top: 50%;margin-top: -20px;}
header .container .box ul li{display: inline-block;}
header .container .box ul li a{display: block;margin: 0 5px;border: 1px solid #dedede;padding: 5px;border-radius: 5px;transition: all 0.3s;width: 30px;text-align: center;}
header .container .box ul li a:hover{background: rgba(0,0,0,0.6);}
header .container .box ul li a i{font-size: 30px;color: #fff;}


section#gnb{position: fixed;top: 50px;left: 0;width: 200px;height: 100%;background: #222;border: 1px solid #222;box-sizing: border-box;color: #fff;}
section#gnb .gnb-container{padding: 30px 15px 100px 15px;}
section#gnb .gnb-container h2{padding: 15px 0;}
section#gnb .gnb-container ul{margin-bottom: 15px}
section#gnb .gnb-container ul li a{position: relative;display: block;color: #fff;padding: 5px 0;}
section#gnb .gnb-container ul li a:hover{opacity: .6;}
section#gnb .gnb-container ul li a i{margin-right: 5px;}
section#gnb .gnb-container ul li{}
section#gnb .gnb-container ul li a>i.fa-angle-down{position: absolute;right: 0;top: 50%;margin-top: -6px;}
section#gnb .gnb-container ul>li>a.on>.fa-angle-down{transform: rotate(-180deg);}
section#gnb .gnb-container ul li ul{display: none;width: 100%;}
section#gnb .gnb-container ul li ul li a{text-indent: 25px;}

#main{padding: 70px 0 0 200px;background: #EDF1F2;}
#main .box-container{padding: 20px 30px 50px 30px;}
#main .box-container h2{font-size: 40px;margin-bottom: 15px;}
#main .box-container h2+p{color: #000;line-height: 2;}
#main .box-container .chart .charts{display: inline-block;margin-right: 1.5%;border: 1px solid #dedede;padding: 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #fff;}
#main .box-container .chart .charts:nth-child(3){margin-right: 0;}
#main .chart2{padding: 20px 30px 50px 30px;}
#chart_div{-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

#main .box-container-layout{padding: 20px 30px 50px 30px;}
#main .box-container-layout .layout-box{display: inline-block;width: 49%;border: 1px solid #dedede;margin-right: 1%;background: #fff;    padding: 15px 20px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;box-sizing: border-box;}
#main .box-container-layout .layout-box:nth-child(2){margin-right: 0;}
#main .box-container-layout .layout-box h3{font-size: 15px;font-weight: 600;margin-bottom: 15px;}
#main .box-container-layout .layout-box .list{width: 100%;text-align: center;border: 1px solid #dedede;line-height: 2;}
#main .box-container-layout .layout-box .list tr{border-bottom: 1px solid #dedede;line-height: 3;}

#main2{padding: 70px 0 0 200px;background: #EDF1F2;}
#main2 .form-container{padding: 20px 25px 50px 30px;}
#main2 .layout{background-color: #fff;border: 1px solid #dedede;padding: 35px;}
input[type="checkbox" i]{-webkit-appearance: checkbox;vertical-align: middle}
input[type="radio" i]{-webkit-appearance: radio;vertical-align: middle}
input[type="text" i]{border: 1px solid #dedede;border-radius: 5px}
input[type="password" i]{border: 1px solid #dedede;border-radius: 5px}
.fa-calendar{color: #00b29c;}
#main2 .form-container h2{font-size: 40px;margin-bottom: 15px;}
#main2 .form-container h2+p{color: #000;line-height: 2;}
#main2 table{width: 100%;}
#main2 .th{color: #000;font-weight: bold;}
#main2 h3{font-size: 20px;margin-bottom: 10px;}
textarea{vertical-align: middle;width: 100%;padding: 10px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;box-sizing: border-box;margin: 10px 0;}
#main2 tr{border-bottom: 1px dotted #dedede;line-height: 3;}
#main2 tr td{vertical-align: middle}
#main2 tr td a.bts{border: 1px solid #00b29c;background: #00b29c;padding: 3px;border-radius: 5px;color: #fff;font-weight: bold;}
#main2 tr:nth-child(1){border-top: 1px dotted #dedede;}
#main2 tr:nth-child(9) li,
#main2 tr:nth-child(10) li{display: inline-block;}
#main2 tr:nth-child(5){line-height: 2.2;}
#main2 tr:nth-child(12) td{padding: 15px 10px;line-height: 1.8;}
#main2 tr:nth-child(12) td li{width: 23%;float: left;height: 220px;text-align: center;padding: 12px;border: 1px solid #e0e0e0;background: #f9fafb;box-sizing: border-box;margin-right: 2%;border-radius: 5px}
#main2 tr:nth-child(12) td li:hover span.image .save{opacity: 1;}
#main2 tr:nth-child(12) td li:hover span.image .image-size{bottom: 0;}
#main2 tr:nth-child(12) td li:last-child{margin-right: 0;}
#main2 tr:nth-child(12) td li span{display: block;}
#main2 tr:nth-child(12) td li span.image{position: relative;width: 100%;height: 140px;border: 1px solid #e0e0e0;background: #fff;overflow: hidden;}
#main2 tr:nth-child(12) td li span.image img{}
#main2 tr:nth-child(12) td li span.image .save{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%) scale(0.6);color: rgba(255, 255, 255, 1);background: rgba(0, 0, 0, .3);text-align: center;transition: all 0.3s;padding: 8px;border-radius: 10px;opacity: 0;}
#main2 tr:nth-child(12) td li span.image .image-size{position: absolute;left: 0;width: 100%;line-height: 20px;background: rgba(0, 0, 0, 0.4);color: #ffffff;text-align: center;color: #ffffff;font-size: 12px;bottom: -20px;transition: all 0.3s;}
#main2 tr:nth-child(12) td li span.image img{}
#main2 tr:nth-child(12) td li:nth-child(1) span.image i,
#main2 tr:nth-child(12) td li:nth-child(2) span.image i{font-size: 60px;line-height: 140px;}
#main2 tr:nth-child(12) td li:nth-child(2) span.image i{color: #00b29c;}
#main2 tr:nth-child(12) td li:nth-child(3) span.image i,
#main2 tr:nth-child(12) td li:nth-child(4) span.image i{font-size: 60px;opacity: 0.4;}
#main2 tr:nth-child(12) td li:nth-child(3):hover span.image i:hover,
#main2 tr:nth-child(12) td li:nth-child(4):hover span.image i:hover{opacity: 0.8;}
#main2 tr:nth-child(12) td li span.file-info{}
#main2 tr:nth-child(12) td li span.file-info i{margin-right: 2%;vertical-align: middle}
#main2 tr:nth-child(12) td li:nth-child(1) span.file-info i,
#main2 tr:nth-child(12) td li:nth-child(2) span.file-info i{color: #00b29c;}
#main2 tr:nth-child(12) td li span.file-info{font-size: 14px;font-weight: 600;}
#main2 tr:nth-child(12) td li a.btn{display: inline-block;font-size: 12px;border: 1px solid #FF4155;border-radius: 5px;padding: 0 3px;background: #FF4155;color: #fff;font-weight: bold;cursor: pointer;}
#main2 tr:nth-child(12) td li a.btn i{padding: 0 5px;}
#main2 tr:nth-child(12) td li a.btn:hover{background-color: red;}
#image1{margin-top: 10px;}

#main2 tr:nth-child(13) td ul{margin-top: 10px;}
#main2 tr:nth-child(13) td li{border: 1px solid #dedede;margin-bottom: 5px;font-size: 14px;}
#main2 tr:nth-child(13) td li i{vertical-align: middle;}
#main2 tr:nth-child(13) td li .function{float: right;margin-right: 1%;}
#main2 tr:nth-child(13) td li .filename i{margin-left: 1%;vertical-align: middle;margin-right: 3px;}
#main2 tr:nth-child(13) td li .filename .name{font-weight: 600;}

#main3{padding: 70px 0 0 200px;background: #EDF1F2;height: 100vh;}
#main3 .basic-form{padding: 20px 25px 50px 30px;}
#main3 .basic-form h2{font-size: 40px;margin-bottom: 15px;color: #000;}
#main3 .basic-form h2+p{color: #000;line-height: 2;margin-bottom: 15px;}
#main3 .basic-form .layout{border: 1px solid #dedede;padding: 10px;margin-bottom: 20px;background: #fff;}
#main3 .basic-form .layout a.btn{display: inline-block;border: 1px solid #00b29c;background: #00b29c;border-radius: 5px;color: #fff;}
#main3 .basic-form .layout a.tiny{font-size: 16px;padding: 5px 2px;}
#main3 .basic-form .layout a.sm{font-size: 18px;padding: 7px 4px;}
#main3 .basic-form .layout a.md{font-size: 24px;padding: 9px 6px;}
#main3 .basic-form .layout a.lg{font-size: 28px;padding: 11px 8px;}
#main3 .basic-form .layout a.purple{background: #846ABF;border: 1px solid #846abf;}
#main3 .basic-form .layout a.mint{background: #00FF7F;border: 1px solid #00FF7F;}
#main3 .basic-form .layout a.yellow{background: #FFAF00;border: 1px solid #FFAF00;}
#main3 .basic-form .layout a.white{background: #fff;border: 1px solid #dedede;color: #000;}
#main3 .basic-form .layout a.dark{background: #000;border: 1px solid #000;}
#main3 .basic-form .layout a.red{background: #FF4155;border: 1px solid #ff4155;}
#main3 .basic-form .layout .button-box{text-align: center;}
#main3 .basic-form .layout .left{text-align: left;}
#main3 .basic-form .layout .right{text-align: right;}

#main4{padding: 70px 0 0 200px;background: #EDF1F2;height: 100vh;}
#main4 h2{font-size: 40px;margin-bottom: 15px;color: #000;}
#main4 h2+p{color: #000;line-height: 2;margin-bottom: 15px;}
#main4 .layout{padding: 20px 25px 50px 30px;}
#main4 .layout .layout-box{margin-bottom: 15px;}
#main4 .layout .layout-box .container{width: 100%;border: 1px solid #dedede;background: #fff;min-height: 100px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 10px;}
#main4 .layout .layout-box .fl:first-child{margin-left: 0;}
#main4 .layout .layout-box .fl{width: 49%;float: left;margin-left: 2%;}
#main4 .layout .layout-box .two:nth-child(1){width: 66%;}
#main4 .layout .layout-box .two:nth-child(2){width: 32%;}
#main4 .layout .layout-box .rate:nth-child(1){width: 32%;}
#main4 .layout .layout-box .rate:nth-child(2){width: 66%;}
#main4 .layout .layout-box .th{float: left;width: 32%;margin-left: 2%;}
#main4 .layout .layout-box .th:nth-child(1){margin-left: 0;}



















