@charset "utf-8";
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:''}
.sr-only{position:absolute;left:-9999px;}
.right{animation: right 2.0s;}
.right2{animation: right 2.5s;}
.right3{animation: right 2.8s;}
.off {animation: slide-off 3s ease 0s 1 normal forwards;}
.popup{height: 100%;overflow: hidden;}


/*html,body{height: 100%;overflow: hidden;}*/

/*body{min-width:1200px;}*/
#wrap{width:100%;overflow:hidden;}

/* 배경 */
/*header>.background{position:fixed;width:100%;background-color:#020201;height:106px;opacity:0.5;}*/

/* 헤더영역 */
header{position:fixed;width:100%;z-index:100;transition: all 1s ease 0s;background-color: rgba(0,0,0,0.7);}
/*header .container{position:relative;width:100%;height:106px;}*/
header .container>nav{position: relative;width: 100%;max-width: 1750px;margin: 0px auto;padding: 50px 0 0 0;height: 68px;}
header .container>nav>h1{position:absolute;top:43.5%;left:1%;width:257px;background-image:url(../images/logo.png);height: 0;padding-top: 12%;background-size: contain;background-repeat: no-repeat}
header .container>nav>h1>a{display:block;height:68px;text-indent:-9999px;}
header .container>nav>.gnb_container{display: none;width:1200px;height:106px;margin:0 auto;}
header .container>nav>.gnb_container>.gnb{width:800px;margin:0 auto;}
header .container>nav>.gnb_container>.gnb>li{float:left;width:160px;height:106px;transition: all 0.3s ease 0s;}
header .container>nav>.gnb_container>.gnb>li:hover{background-color:#0060A1;}
header .container>nav>.gnb_container>.gnb>li:hover>a{color:#fff !important;}
header .container>nav>.gnb_container>.gnb>li>a{position:relative;display:block;color:white;height:106px;line-height:106px;text-align:center;font-size:20px;font-weight:600;}
header .container>nav>.gnb_container>.gnb>li:hover>a>span{position:absolute;left:50%;display:block;width:140px;border-bottom:2px solid white;margin-left:-70px;}
header .container>nav>.utilmenu{position: absolute;top:0;right:auto;width:96%;height:22px;left: 0px;background-color: #000;padding: 10px 2%;text-align: right;}
header .container>nav>.utilmenu>.header_family{float: left;width: auto;}
header .container>nav>.utilmenu>.header_family>a{color:white;font-size:15px;margin-left:20px;opacity:0.6;}
header .container>nav>.utilmenu>.header_family>a:nth-child(1){display: none;}
header .container>nav>.utilmenu>.header_family>a:nth-child(2){font-size: calc(14px + 9*(100vw - 320px)/1600);line-height: 30px;}
header .container>nav>.utilmenu>.header_family>a:hover{color:white;opacity:1;}
header .container>nav>.utilmenu>.family_list{display: inline-block;margin-top: -19px;}
header .container>nav>.utilmenu>.family_list>a{display:inline-block;width:auto;height:30px;line-height:30px;border:1px solid #88898B;color:white;margin-top:15px;font-size:calc(16px + 9*(100vw - 768px)/1600);font-weight:bold;color:white;text-indent:12px;}
header .container>nav>.utilmenu>.family_list>a>i{font-size:calc(20px + 9*(100vw - 768px)/1600);font-weight:bold;margin-right: 5px;}
header .container>nav>.utilmenu>.family_list>.sungdo{display:none;background-color:#444546;border-right:1px solid #88898B;border-left:1px solid #88898B;border-bottom:1px solid #88898B;}
header .container>nav>.utilmenu>.family_list>.sungdo>li{width:auto;height:30px;line-height:30px;text-align:right;}
header .container>nav>.utilmenu>.family_list>.sungdo>li>a{display:block;color:white;margin-right:10px;font-weight:bold;}
header .container>nav>.utilmenu>.language{display: inline-block;float: right;}
header .container>nav>.utilmenu>.language>a{display:inline-block;color:white;font-size:calc(16px + 9*(100vw - 768px)/1600);margin-left:15px;height:25px;}
header .container>nav>.utilmenu>.language>a.on{display:black;border-bottom:3px solid white;}
header .container>nav>.utilmenu>.language>a:hover{display:black;border-bottom:3px solid white;}
.gnb_open{display: block;position: absolute;top: 55%;right: 2%;}
.gnb_open i{font-size: calc(30px + 9*(100vw - 320px)/1600);color: #fff;}

/* 사이드 메뉴 */
.side_menu{display: none;}

header.white{background-color: #fff;height: 11%;border-bottom : 2px solid #0060A1;}
header.white .gnb_open{top: 20%;}
header.white nav h1{top: 12%;}
header.white nav a i{color: #000;}
header.white .container>nav>.utilmenu{display: none;}
header.white .container>nav>.gnb_container>ul>li>a{color : black;}
header.white .container>nav>h1{background-image : url(../images/fixed_logo.png);}
header.white .container .utilmenu>.header_family>a{color: black !important;}
header.white .container .language>a:nth-child(1){color : black;font-weight : 600;border-bottom:3px solid #0060A1 !important;}
header.white .container .language>a:nth-child(2){color : black;font-weight : 600;}
header.white .container .family_list>a{color : black !important;}

/* 섹션영역 */
section .slides{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
section .slides>.slides-container{width:400%;height:300px;}
section .slides>.slides-container>li{position:relative;float:left;width:25%;height: 100%;overflow:hidden;}
section .slides>.slides-container>li>img{width:100%;height:300px;}
section .slides>.slides-container>li>img.zum{ animation: scales 2s forwards;}
@keyframes scales {
    0% {transform: scale(1.2,1.2);}
    100% {transform: scale(1,1);}
}
section .slides>.slides-container>li>.article{position:absolute;top:80%;left:0;width:660px;height:181px;}
section .slides>.slides-container>li>a{display:block;text-indent:-9999px;}
section .slides>.slides-container>li>.article>.content{display: none;color:white;margin-left:30px;font-size:20px;margin-top:40px;line-height:1.4;}
section .slides>.slides-container>li>.article>.title{display:block;background-repeat:no-repeat;text-indent:-9999px;margin-left:30px;}
section .slides>.slides-container>li>.article>a{display:none;width:110px;height:20px;color:white;margin-left:27px;margin-top:50px;background-image:url(../images/more_btn_bg.png);background-repeat:no-repeat;background-position:0 5px;}
section>.slides>.slides-container>li>.article>.title{height: 0;padding-top: 3%;background-size: contain;}
section>.slides>.slides-container>li:nth-child(1)>.article>.title{background-image:url(../images/main_visual_txt1.png);}
section>.slides>.slides-container>li:nth-child(2)>.article>.title{background-image:url(../images/main_visual_txt2.png);}
section>.slides>.slides-container>li:nth-child(3)>.article>.title{background-image:url(../images/main_visual_txt3.png);}
section>.slides>.slides-container>li:nth-child(4)>.article>.title{background-image:url(../images/main_visual_txt1.png);}

@keyframes right{from{opacity:0;transform:translateX(30%);}to{transform:translateX(0)}}

/* 이전,다음 */
section>.slides>.slides-navigation{position:absolute;text-indent:-9999px;cursor:pointer;width: 40px;height:0;background-repeat: no-repeat;}
section>.slides>.slides-prev{display:block;background-image:url(../images/main_visual_prev_btn.png);top:50%;left:0;border:0;opacity:0.7;background-color:black;padding-top: 40px;background-size: contain;}
section>.slides>.slides-next{display:block;background-image:url(../images/main_visual_next_btn.png);top:50%;right: 0;border:0;opacity:0.7;background-color:black;padding-top: 40px;background-size: contain;}

/* 스크롤 다운 */
section>.slides>.scroll_down{position: absolute;top: 86%;left: 50%;display: block;width: 80px;height: 94px;color: white;font-size: 10px;background-image: url(../images/scroll_icon.png);background-repeat: no-repeat;background-position: center 22px;}

/* content1 */
section>.content1{width: 100%;}
section>.content1>h2{width: 100%;max-width:1200px;height:64px;line-height:64px;text-align:center;margin:50px auto 0;font-size:calc(21px + 9*(100vw - 320px)/1600);;font-weight:200;color:black;}
section>.content1>h2>span{display:inline-block;background-image:url(../images/spritesheet.png);background-repeat: no-repeat;}
.sprite-line1 {width: 30%;height: 21px;margin-right:1%;background-position:100% -36px;}
.sprite-line2 {width: 30%;height: 22px;margin-left:1%;background-position:0 -5px;}
section>.content1 .scroll-fade-container{width: 90%;margin: 0 auto;}
section>.content1 .scroll-fade{overflow: hidden;padding: 0 0 30px;}
section>.content1 .scroll-fade>li{float: left;position:relative;width:47%;height:170px;background-repeat:no-repeat;margin-right:2%;cursor:pointer;overflow:hidden;opacity: 1;transition: top 1.0s, opacity 1.0s;}
section>.content1 .scroll-fade>li img{max-width: 100%;width: 100%;height: auto;vertical-align: middle}
section>.content1 .scroll-fade>li:hover{width:47%;height:170px;border:10px solid #0060A1;box-sizing:border-box;background-size:120% 120%; background-position:50% 50%;overflow:hidden;}
section>.content1 .scroll-fade>li:hover>.span{position:absolute;left:50%;top:50%;display:block;width:37px;height:37px;background-image:url(../images/more_btn_white.png);z-index:100;margin-left:-19px;margin-top:-19px;transform: rotate(90deg);}
section>.content1 .scroll-fade>li>span{display:none !important;-webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;transition:width 2s, height 2s, background-color 2s, transform 0.5s;}
section>.content1 .scroll-fade>li:hover>.blind{position:absolute;top:0;display:block;z-index:1;}
section>.content1 .scroll-fade>li:nth-child(1){margin-left: 2%;}
section>.content1 .scroll-fade>li:nth-child(2){margin-right:0;}
section>.content1 .scroll-fade>li:nth-child(3){margin-left: 2%;margin-top: 2%;}
section>.content1 .scroll-fade>li:nth-child(4){margin-right:0;margin-top: 2%;}
section>.content1 .scroll-fade>li:hover>img{transform: scale(1.2);}
section>.content1 .scroll-fade>li>img{position: absolute;top: 0;right: 0;max-width: 100%;height: 100%;transition: all 0.4s;}
section>.content1 .scroll-fade>li>a{position:absolute;top:10px;display:block;color:white;margin-left:10px;font-size:16px;font-weight:400;padding-top:15px;}
section>.content1 .scroll-fade>li>span{position:absolute;top:20px;display:block;margin-top:30px;opacity:0.8;margin-left:10px;color:white;}
section>.content1 .scroll-fade>li>.blind{display:none;width:100%;height:170px;background-color:black;opacity:0.7;}
section>.content1>.businessResultLink{width:96%;height:226px;margin:0 auto;}
section>.content1>.businessResultLink>h3{float:left;width:28%;height:74px;line-height:74px;text-align:left;color:#272727;font-size: 34px;display: none;}
section>.content1>.businessResultLink>h3>span{display:inline-block;font-weight:100;}
section>.content1>.businessResultLink>h3>a{display: inline-block;width: 50px;height: 22px;margin-left: 5%;text-align: center;line-height: 22px;background-color: #3c3c3c;color: #fff;font-size: 11px;letter-spacing: 0px;vertical-align: middle;}
section>.content1>.businessResultLink>.result_link_list{float:left;width:98%;margin: 0 auto;}
section>.content1>.businessResultLink>.result_link_list>li{float:left;width: 32%;height:50px;text-align:center;border:1px solid #C2C2C2;margin-right: 1%;}
section>.content1>.businessResultLink>.result_link_list>li:hover{border:1px solid #0060A1;background-color:#F1F1F1;}
section>.content1>.businessResultLink>.result_link_list>li:last-child{margin-right:0;}
section>.content1>.businessResultLink>.result_link_list>li>a{display:block;font-size: calc(11px + 9*(100vw - 320px)/1600);color:#000;line-height: 50px;}

/* content2 */
section>.content2{position:relative;width:100%;height: 500px}
section>.content2>.area{position: relative;margin-top: -70px;}
section>.content2>.area>h2{position: absolute;top: -50px;left: 2%;width: 96%;margin: 0 auto;color: #1c1a1a;padding-bottom: 36px;letter-spacing: -0.5px;font-size: calc(21px + 9*(100vw - 320px)/1600);;font-weight: 200;}
section>.content2>.area>h2>span{font-weight:100;}
section>.content2>.area>ul{display: none;}
section>.content2>.area>ul>li{width:328px;height:77px;}
section>.content2>.area>ul>li>span{display:inline-block;width:64px;height:43px;text-indent:-9999px;vertical-align: middle;}
section>.content2>.area>ul>li:nth-child(1)>span{background-image:url(../images/national_flag1.jpg);}
section>.content2>.area>ul>li:nth-child(2)>span{background-image:url(../images/national_flag1.jpg);}
section>.content2>.area>ul>li:nth-child(3)>span{background-image:url(../images/national_flag1.jpg);}
section>.content2>.area>ul>li:nth-child(4)>span{background-image:url(../images/national_flag9.jpg);}
section>.content2>.area>ul>li:nth-child(5)>span{background-image:url(../images/national_flag6.jpg);}
section>.content2>.area>ul>li:nth-child(6)>span{background-image:url(../images/national_flag10.jpg);}
section>.content2>.area>ul>li:nth-child(7)>span{background-image:url(../images/national_flag4.jpg);}
section>.content2>.area>ul>li:nth-child(8)>span{background-image:url(../images/national_flag11.jpg);}
section>.content2>.area>ul>li>p{display:inline-block;font-size:12px;font-weight:400;color:#242424;margin-left:15px;}
section>.content2>.area>p{display: none;width:102px;height:33px;border:1px solid black;text-align:center;}
section>.content2>.area>p>a{color: #666;line-height:33px;}

section>.content2>.globalmap{position:absolute;top:0;right:0;width:100%;background-color:#242A33;padding-bottom: 200px;}
section>.content2>.globalmap>.map_top{width:96%;margin-left:10px;margin-top: -15%;}
section>.content2>.globalmap>.map_top>h3{width:96%;height:65px;border-bottom:1px solid #dedede;margin-top:110px;color:white;}
section>.content2>.globalmap>.map_top>h3>strong{font-size:calc(21px + 9*(100vw - 320px)/1600);font-weight:400;margin-right:20px;}
section>.content2>.globalmap>.map_top>h3>span{font-weight: 300;opacity: 0.66;font-size:calc(10px + 9*(100vw - 320px)/1600)}
section>.content2>.globalmap>.map_top>p{float:left;margin-top:35px;color:#fff;font-size:calc(9.5px + 9*(100vw - 320px)/1600);letter-spacing:-0.25px;opacity: 0.6;width: 67%;}
section>.content2>.globalmap>.map_top>a{display:block;float:right;width: auto;border: 1px solid #fff;text-align: center;color: #fff;opacity: 0.6;margin-top:35px;margin-right: 4%;padding: 2%;}
section>.content2>.globalmap>.map_top>a:hover{color:#000;background-color:white;opacity:1;}

section>.content2>.globalmap>.map-inner-content{position:relative;margin-left: -40px;}
section>.content2>.globalmap>.map-inner-content img{max-width: 100%; /* 이미지의 최대사이즈 */width: auto; /* IE8 */height: auto;vertical-align: bottom;}
.ani{display: none;}
.circle {position:absolute; top: 250px;left:400px; width: 20px; height: 20px; background-color: #fff; border-radius: 50%; animation: cir 3.0s 1s linear infinite; transform-origin: 100% 0}
.circle2 {position:absolute; top: 250px;left:400px; width: 20px; height: 20px; background-color: #fff; border-radius: 50%; animation: cir 3.0s 0.5s linear infinite; transform-origin: 100% 0}
.circle3 {position:absolute; top: 250px;left:400px; width: 20px; height: 20px; background-color: #fff; border-radius: 50%; animation: cir 3.0s 0s linear infinite; transform-origin: 100% 0}
.pc-img-m>img{margin-left:50px;margin-top:50px;}
.pc-img{display: none;}
.korea{position:absolute;top:230px;left:420px;font-size:15px;color:white;font-weight:600;display: none;}
@keyframes cir {
	0% {transform: scale(0,0); opacity: 0.5}
	100% {transform: scale(10,10); opacity: 0}
}

/* content3 */
section>.content3{position: relative;width: 50%;background-color: #0060A1;border:1px solid #0060A1;margin-top: 15%;}
section>.content3>.main_news{margin: -30px auto 0;}
section>.content3>.main_news .main_news_container{width: 88%;margin: 0 auto;padding: 0 6% 40px;}
section>.content3>.main_news h2{margin-top: 80px;font-size: calc(20px + 9*(100vw - 768px)/1600);;color: white;font-weight: 200;}
section>.content3>.main_news h2>strong{font-weight: 400;}
section>.content3>.main_news span{display: none;margin-top: 30px;opacity: 0.6;color: white;}
section>.content3>.main_news p{color: white;margin-top: 40px;}
section>.content3>.main_news p>strong{font-size: calc(30px + 9*(100vw - 768px)/1600);font-weight: 500;margin-right: 10px;}
section>.content3>.main_news .invest-info>dl{display: inline-block;margin-top: 30px;}
section>.content3>.main_news .invest-info>dl:nth-child(2){margin-left: 10%;}
section>.content3>.main_news .invest-info>dl>dt{display:block;font-size: calc(16px + 9*(100vw - 768px)/1600);color: white;}
section>.content3>.main_news .invest-info>dl>dd{display:block;font-size: calc(16px + 9*(100vw - 768px)/1600);;color: white;}
section>.content3>.main_news .invest-more-btn{display: block;width: 100%;height: 46px;line-height: 46px;text-align: center;font-size: 15px;color: white;background-color: #005792;border: 1px solid #5293bf;opacity: 0.8;margin-top: 20px;}
section>.content3>.main_news .invest-more-btn:hover{background-color: white;color:#005792;opacity: 1;}
section>.content3>.main_news .main-news-con{position: relative;width: 88%;padding: 24.9px 6%;border-top: 1px solid #dedede;}
section>.content3>.main_news .main-news-con>h2{display:inline-block;font-size: calc(20px + 9*(100vw - 768px)/1600);color:white;font-weight: 200;margin-top: -20px;}
section>.content3>.main_news .main-news-con>h2>strong{font-weight:400;}
section>.content3>.main_news .main-news-con>.main-news-list>ul>li{color: #fff;opacity: 0.7;margin-top: 15px;font-weight:400;}
section>.content3>.main_news .main-news-con>a{position: absolute;right: 6%;top: 50%;margin-top: -7px;}
section>.content3>.main_news .main-news-con a>img{width: 15px;}
section>.content3>.main_news .main-news-con .main-news-list{display: none;}

section>.content3>.main-press-inner-con{position:absolute;top:-1px;right:-100%;width:100%;background-color:#F0F0F0;}
section>.content3>.main-press-inner-con>.csPressList{width: 88%;margin: 80px auto 0;}
section>.content3>.main-press-inner-con>.csPressList>h2{font-size: calc(18px + 9*(100vw - 768px)/1600);font-weight: 200;color:black;padding: 0 0 34.5px;margin-top: -30px;}
section>.content3>.main-press-inner-con>.csPressList>h2>strong{font-weight: 400;}
section>.content3>.main-press-inner-con>.csPressList>ul{margin-top: 50px;display: none;}
section>.content3>.main-press-inner-con>.csPressList>ul>li{float: left;width: 265px;height: 256px;border:1px solid #aeaeae;margin-right: 10px;background-color: white;cursor:pointer;}
section>.content3>.main-press-inner-con>.csPressList>ul>li:last-chile{margin-right: 0;}
section>.content3>.main-press-inner-con>.csPressList>ul>li:hover{background-color:#0060A1;}
section>.content3>.main-press-inner-con>.csPressList>ul>li:hover>a>.press-cate{border-top:1px solid white;border-bottom:1px solid white;}
section>.content3>.main-press-inner-con>.csPressList>ul>li:hover>a>strong{color:white;}
section>.content3>.main-press-inner-con>.csPressList>ul>li:hover>a>p{color:white;opacity:0.6;}
section>.content3>.main-press-inner-con>.csPressList>ul>li:hover>a>.more-btn{transform:rotate(90deg);display:block;width:15px;height:15px;background-image:url(../images/more_white.png);background-size:cover;background-repeat:no-repeat;-webkit-animation-direction:normal;-o-animation-direction:normal;animation-direction:normal;}
section>.content3>.main-press-inner-con>.csPressList>ul>li>.list_news{display: block;}
section>.content3>.main-press-inner-con>.csPressList>ul>li>a{position:relative;}
section>.content3>.main-press-inner-con>.csPressList>ul>li>a>p{-webkit-margin-before: 0em;-webkit-margin-after: 1em;-webkit-margin-start: 15px;-webkit-margin-end: 0px;}
section>.content3>.main-press-inner-con>.csPressList>ul>li>a>.press-cate{display: block;width: 80px;height: 28px;line-height: 28px;text-align: center;color:white;font-weight:400;background-color: #0060A1;margin:30px 0 0 15px}
section>.content3>.main-press-inner-con>.csPressList>ul>li>a>.press-tit{display: block;width: 236px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding: 24px 0 33px;color: #4c4c4c;font-size: 16px; font-weight: bold;margin-left:15px ;}
section>.content3>.main-press-inner-con>.csPressList>ul>li>a>.press-content{width: 236px;height:66px;line-height:1.8;overflow: hidden;font-size:12px;}
section>.content3>.main-press-inner-con>.csPressList>ul>li>a>.more-btn{position:absolute;top:190px;left:1em;display:block;width:15px;height:15px;background-image:url(../images/more_black.png);-webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 0.5s;}
section>.content3>.main-press-inner-con>.mainQuickLink{}
section>.content3>.main-press-inner-con>.mainQuickLink>ul{}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>li{width: 100%;height: 87.6px;border-bottom: 1px solid #cacaca;}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>li:first-child{border-top: 1px solid #cacaca;}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>li a{line-height: 60px;background-size: auto 42px !important;display: block;height: 100%;line-height: 100px;padding: 0 6%;background-position: 6% 50% !important;text-align: right;background-repeat: no-repeat;}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>li a>strong{}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>li a>p{display: none;font-size:14px;margin-left:90px;line-height:1.6;margin-top:5px;}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>.quick-link1{}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>.quick-link1 a{background-image:url(../images/quick_link1.jpg);}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>.quick-link2{}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>.quick-link2 a{background-image:url(../images/quick_link2.jpg);}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>.quick-link3{}
section>.content3>.main-press-inner-con>.mainQuickLink>ul>.quick-link3 a{background-image:url(../images/quick_link3.jpg);}

.bottom-to-top-btn{position: absolute;bottom: -50%;left: 50%;display: block;width: 60px;height: 40px;text-align: center;padding-top: 20px;background-color: rgba(169,169,169,0.8);margin-left: -30px;}

/* footer */
footer{position: relative;padding: 50px 0 100px;}
footer>.area{position: relative;width: 100%;margin: 0 auto;}
footer>.area>.familysite-box{position:relative;width: 200px;margin: 0 auto;}
.familysite-box > a {display: block;width:198px;height: 30px;line-height: 30px;text-indent: 20px;border: 1px solid #b0b0b0;background-color: #444546;color: #fff;}

/* footer>.area>.familysite-box>.family-open-btn{display:block;width:200px;height:32px;background-color:#444546;color:white;line-height:32px;text-indent: 20px;border: 1px solid #b0b0b0;font-size:15px;font-weight:bold;} */
footer>.area>.familysite-box>.family-open-btn>i{text-indent:90px;font-size:17px;font-weight:bold;}
/* footer>.area>.familysite-box>.family-list{position:absolute;bottom:32px;overflow:hidden;width:200px;height:0;border: 1px solid #b0b0b0;background-color:#444546;opacity:1;} */
.familysite-box> .family-list {position: absolute;bottom: 30px;left: 0px;width: 198px;padding: 10px 0;background-color: #444;border: 1px solid #b0b0b0;border-bottom: 0;z-index: 11;display: none;}
.familysite-box>  .family-list a {display: block;padding: 10px 20px;color: #fff;}
footer>.area>.familysite-box>.family-list>li>a:hover{color:#0060A1 !important;}
/* footer>.area>.familysite-box>.family-list>li{width:200px;height:32px;line-height:32px;color:white;font-weight:bold;font-size:15px;} */
/* footer>.area>.familysite-box>.family-list>li>a{display:block;color:white;text-indent:20px;} */
footer>.area>.foot-logo{display: none;float:left;}
footer>.area>.footer-address{margin: 20px auto;width: 96%;text-align: center;}
footer>.area>.footer-address>p{}
footer>.area>.footer-address>dl{display:block;}
footer>.area>.footer-address>dl>dt{display:inline-block;}
footer>.area>.footer-address>dl>dd{display:inline-block;}
footer>.area>.footer-address>address{margin-top: 15px;}

/*팝업창*/
.popup-wrapper{width: 300px;height: 100%;position: fixed;top: 0px;right: -100%;max-width: 550px;background-color: #0060a1;z-index: 99999;}
.popup-close-box{cursor: pointer;display: block;height: 100px;line-height: 114px;padding: 0 3%;border-bottom: 1px solid #5494c0;text-align: right;}
.popup-wrapper h2{display: none;}

/*.sitemapList{}
.sitemapList ul {width: 100%;overflow: hidden;}
.sitemapList>ul>li{animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);position: relative;width: 100%;border-bottom: 1px solid #5494c0;}
.sitemapList>ul>li>a{position: relative;display: block;height: 48px;line-height: 48px;padding: 0 7%;color: #fff;font-size: 17px;font-weight: 400;letter-spacing: -0.25px;}
.sitemapList>ul>li .sitemap-2dep{height: 0;padding: 13px 0;background-color: #1d242a;}
.sitemapList>ul>li .sitemap-2dep li a{display: block;color: #fff;font-size: 14px;padding: 12px 7%;}*/

.sitemapList > ul {}
.sitemapList > ul > li {border-bottom: 1px solid #5494c0;}
.sitemapList > ul > li > a {display: block; line-height: 48px; padding-left: 7%; position: relative;color: #fff;font-size: 17px;font-weight: 400;letter-spacing: -0.25px;}
.sitemapList > ul > li.on > a {}
.sitemapList > ul > li > ul {font-size: 14px; overflow: hidden; height: 0; transition: height 0.3s;background-color: #1d242a;}
.sitemapList > ul > li > ul > li {}
.sitemapList > ul > li > ul > li > a {display: block; line-height: 34px; padding: 5px 0 5px 40px; position: relative;font-size: 14px;color: #fff;}
.sitemapList > ul > li > ul > li > a:hover {color: #0060a1;}
.sitemapList > ul > li > ul > li.on > a {}


.popup-pop-bg{position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;cursor: pointer;background-color: #000;background-color: rgba(0,0,0,0.83);z-index: 99998;display: none;}



.modal-wrapper{display: none;}





















